@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
#desc-box {
  background-color: lightgrey;
  padding: 20px;
}

.icon {
  width: 80px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 620px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

/* .result {
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
} */

#results_statement {
  font-size: 24px;
  text-align: center;
}

/* Styles for index description */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 0px;
}

p.description {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

#desc-box p {
  font-size: 1rem;
}

ol {
  font-size: 1.1rem;
  padding-left: 20px;
}

li {
  line-height: 1.6;
  margin-bottom: 10px;
}

details {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

input[type="submit"] {
  background-color: #10a37f;
  border: none;
  color: white;
  padding: 8px 24px; /* Increase horizontal padding for wider buttons */
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.1rem; /* Increase font-size for better balance with the wider buttons */
}


input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#footnote {
  font-size: 16px;
  text-align: left;
}

.separator {
  text-align: center;
  margin-bottom: 20px;
}

.separator span {
  background-color: #f8f9fa;
  padding: 0 10px;
}

hr {
  border: 1px solid #eee;
  border-width: 1px 0 0;
}