<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='Lamp_News_logo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='Lamp_News_logo.png') }}" class="icon" />
  <h3>AI Fact Checker</h3>
  <form action="/" method="post">
    <input type="text" name="originator" placeholder="Who said?" required />
    <input type="text" name="query" placeholder="What's the statement?" required />
    <input type="submit" value="Ask" />
  </form>
  {% if result %}
  <div class="result">The result is "{{ result }}"</div>
  {% endif %}
</body>
